body footer.main_footer {
    background-color: #101739;
    padding: 40px 0;
    margin-top: 30px;
    color: #D9D9D9;
}

#main_footer .div_module {
    display: flex;
}

/* footer.main_footer --> div_module --> left */
#main_footer .left {
    flex: 1;
}

#main_footer .left .logo {
    margin-bottom: 20px;
}

#main_footer .left .logo a img {
    height: 30px;
}

#main_footer .left a p {
    font-size: 14px;
    line-height: 28px;
}

#main_footer .left a .detail {
    margin: 10px 0;
}

#main_footer footer .left a .link {
    margin-bottom: 10px;
}

#main_footer .left a .link a {
    font-weight: 600;
    margin-right: 10px;
}

#main_footer .left a .text_footer_contact .relative>span {
    position: relative;
    padding-bottom: 5px;
}

#main_footer .left a .text_footer_contact .relative span::before {
    content: "";
    right: 0;
    width: 100%;
    background-color: #ffff00;
    height: 1px;
    bottom: 0;
    position: absolute;
    transition: all 1s ease;
    transform-origin: right;
    transform: scaleX(0);
}

#main_footer .left a .text_footer_contact .relative:hover>span::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* footer.main_footer --> div_module --> right */
#main_footer .right {
    flex: 1;
}

#main_footer .right p {
    line-height: 23px;
}

/* footer.main_footer --> div_module --> right --> social */
.social {
    margin: 1rem 0;
    display: grid;
    place-content: end;
}

.social .gallery {
    --g: 5px;
    /* the gap */
    --s: 400px;
    /* the size */

    display: grid;
    border-radius: 50%;
}

.social .gallery>img {
    grid-area: 1/1;
    width: 100px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    transform: translate(var(--_x, 0), var(--_y, 0));
    cursor: pointer;
    z-index: 0;
    transition: .3s, z-index 0s .3s;
}

.social .gallery img:hover {
    --_i: 1;
    z-index: 1;
    transition: transform .2s, clip-path .3s .2s, z-index 0s;
}

.social .gallery:hover img {
    transform: translate(0, 0);
}

.social .gallery>img:nth-child(1) {
    clip-path: polygon(50% 50%, calc(50%*var(--_i, 0)) calc(120%*var(--_i, 0)), 0 calc(100%*var(--_i, 0)), 0 0, 100% 0, 100% calc(100%*var(--_i, 0)), calc(100% - 50%*var(--_i, 0)) calc(120%*var(--_i, 0)));
    --_y: calc(-1*var(--g))
}

.social .gallery>img:nth-child(2) {
    clip-path: polygon(50% 50%, calc(100% - 120%*var(--_i, 0)) calc(50%*var(--_i, 0)), calc(100% - 100%*var(--_i, 0)) 0, 100% 0, 100% 100%, calc(100% - 100%*var(--_i, 0)) 100%, calc(100% - 120%*var(--_i, 0)) calc(100% - 50%*var(--_i, 0)));
    --_x: var(--g)
}

.social .gallery>img:nth-child(3) {
    clip-path: polygon(50% 50%, calc(100% - 50%*var(--_i, 0)) calc(100% - 120%*var(--_i, 0)), 100% calc(100% - 120%*var(--_i, 0)), 100% 100%, 0 100%, 0 calc(100% - 100%*var(--_i, 0)), calc(50%*var(--_i, 0)) calc(100% - 120%*var(--_i, 0)));
    --_y: var(--g)
}

.social .gallery>img:nth-child(4) {
    clip-path: polygon(50% 50%, calc(120%*var(--_i, 0)) calc(50%*var(--_i, 0)), calc(100%*var(--_i, 0)) 0, 0 0, 0 100%, calc(100%*var(--_i, 0)) 100%, calc(120%*var(--_i, 0)) calc(100% - 50%*var(--_i, 0)));
    --_x: calc(-1*var(--g))
}