@keyframes showoption {
    0% {
        clip-path: inset(0 0 100% 0);
        /* Cắt toàn bộ phần tử */
        opacity: 0;
        visibility: hidden;
    }

    100% {
        clip-path: inset(0 0 0 0);
        /* Hiện ra hoàn toàn */
        opacity: 1;
        visibility: visible;
    }
}

@keyframes closeoption {
    0% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
        visibility: visible;
    }

    100% {
        clip-path: inset(0 0 100% 0);
        opacity: 0;
        visibility: visible;
    }
}

@keyframes openaside {
    0% {
        transform: translateX(-80%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes closeaside {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-80%);
    }
}

@keyframes movecontent {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(10%);
    }
}

@keyframes backcontent {
    0% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0%);
    }
}

.profile-container {
    display: flex;
    position: relative;
}

.profile-container .open-aside {
    animation: openaside 0.8s forwards;
}

.profile-container .close-aside {
    animation: closeaside 0.8s forwards;
}

.aside-profile-container {
    transform: translateX(-80%);
    display: flex;
    padding-right: 20px;
    position: absolute;
    transition: 1s;
    z-index: 10;
}
.aside-profile-container .aside-action{
    width: 45px;
    height: 45px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222F5C;
    cursor: pointer;
}

.aside-profile-container .aside-action svg{
    width: 35px;
    height: 30px;
}
.profile-container .aside-profile {
    width: 260px;
    background-color: #0B0F1F;
    padding: 30px;
    font-size: 15px;
}

.aside-profile .option {
    padding: 15px 10px;
    color: #d1d3db;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.aside-profile .option .icon {
    margin-right: 10px;
}

.aside-profile .option:hover {
    background-color: #242736;
    color: white;
}

.aside-profile .setting ul {
    opacity: 0;
    visibility: hidden;
}

.aside-profile .setting .close-more-op {
    animation: closeoption 0.8s forwards;
}

.aside-profile .setting .open-more-op {
    animation: showoption 0.8s forwards;
}

.aside-profile .setting .extra-op {
    margin-left: 34px;
}

.profile-container .profile-content {
    width: 80%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.profile-container .move-profile-content {
    animation: movecontent 0.8s forwards;
}

.profile-container .back-profile-content {
    animation: backcontent 0.8s forwards;
}