body #main_header {
    height: 70px;
}

body header.main_header {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 4;
    background-color: #101739;
}

#main_header .div_module {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header.main_header --> div_module --> left */
#main_header .left {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    float: left;
}

#main_header .left .logo {
    float: left;
    font-size: 20px;
    line-height: 70px;
    color: #fff;
    letter-spacing: 1px;
}

#main_header .left .logo a img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
}

#main_header .left .search {
    width: 400px;
    position: relative;
    margin-left: 20px;
}

#main_header .left .search input {
    background-color: #1f2955;
    width: 100%;
    border-radius: 50px;
    padding: 0 45px 0 20px;
    color: #fff;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    height: 44px;
    margin: 13px 0;
    border: 2px solid #fff0;
    transition: border-color 0.5s ease;
}

#main_header .left .search input::placeholder {
    color: #fff;
}

#main_header .left .search input:hover {
    border-color: rgb(211, 199, 199);
}

#main_header .left .search button {
    color: #fff;
    background: 0 0;
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-10px, -50%);
}

/* header.main_header --> div_module --> right */
#main_header .right {
    float: right;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main_header .right .user-info {
    float: right;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:10px;
}

#main_header .right .button_style {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

#main_header .right .button_style button {
    width: 140px;
    height: 40px;
    border: 2px solid #6C74FC;
    background-color: transparent;
    color: #fff;
    border-radius: 150px;
    font-size: 15px;
    position: relative;
    transition: background-color 0.3s ease;
    /* Smooth transition */
}

#main_header .right .button_style button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.main_header .right .avatar {
    height: 56px;
    border-radius: 100%;
    aspect-ratio: 1;
    border: 2px solid #1f2955;
    object-fit: cover;
}

.main_header .right .button {
    border-radius: 10em;
    border: none;
    outline: none;
    height: 75%;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2955;
    color: white;
    cursor: pointer;
    justify-content: center;
  }

/* right --> button_style --> box */
.box {
    position: relative;
    width: 140px;
    height: 40px;
    border-radius: 150px;
    background: #6C74FC;
    overflow: hidden;
}

.box::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 140px;
    height: 40px;
    background: linear-gradient(0deg,
            transparent,
            transparent,
            #45f3ff,
            #45f3ff,
            #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 140px;
    height: 40px;
    background: linear-gradient(0deg,
            transparent,
            transparent,
            #45f3ff,
            #45f3ff,
            #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: 3s;
}

.border-line {
    position: absolute;
    top: 0;
    inset: 0;
}

.border-line::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 140px;
    height: 40px;
    background: linear-gradient(0deg,
            transparent,
            transparent,
            #ff2770,
            #ff2770,
            #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.border-line::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 140px;
    height: 40px;
    background: linear-gradient(0deg,
            transparent,
            transparent,
            #ff2770,
            #ff2770,
            #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text_button_login {
    z-index: 2;
}