#content {
    display: flex;
    gap: 20px;
}

/* configure css react-slick */
.slick-prev:before {
    content: '';
}

.slick-next:before {
    content: '';
}

.slick-dots li.slick-active button:before {
    color: #fff;
}

.slick-dots li {
    margin: 0;
}

.slick-dots li button {
    padding: 0;
}

.slick-dots li button:before {
    color: #fff;
}

/* configure css react-slick pagination */
.anticon svg {
    color: #f5deb3;
}

:where(.css-dev-only-do-not-override-1yacf91).ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover {
    background-color: rgba(228, 227, 227, 0.441);
}

/* div_module --> content --> left */
#content .left {
    flex: 1;
    max-width: calc(100% - 320px);
}

#content .left .pr_image img {
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    aspect-ratio: auto;
    object-fit: cover;
}

#content .left .album_suggest {
    margin: 30px 0;
    width: 100%;
    max-height: 380px;
    overflow: hidden;
    position: relative;
}

#content .left .album_suggest h1 {
    border-left: 5px solid #6C74FC;
    padding-left: 15px;
    margin: 10px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
}

#content .left .album_suggest h1 p {
    display: flex;
    align-items: center;
    gap: 5px;
}

#content .left .page_redirect {
    margin: 20px 0;
    padding-bottom: 20px;
    text-align: center;
    max-width: 100%;
}

/* div_module --> content --> right */
#content .right {
    width: 300px;
}

#content .right .app {
    background-color: #151D35;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
    color: #fff;
    border-radius: 7px;
    height: 70px;
}

#content .right .app img {
    height: 50px;
    float: left;
}

#content .right .app p {
    float: left;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 0;
    margin-left: 7px;
}

#content .right .app p span {
    font-size: 12px;
    line-height: 18px;
    color: #999;
}

.lst_album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.album-item-wrapper {
    width: 33.33333%;
    min-width: 30vmin;
    display: flex;
    justify-content: center;
}

.album-item {
    aspect-ratio: 3/4;
    max-height: 35vmin;
    display: flex;
    align-items: center;
    flex-direction: column;
    outline: none;
    background-color: transparent;
    border: none;
    color:#CCCEE3;
}

.album-name {
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    transition-duration: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.album-name:hover {
    color: white;
    width: fit-content;
    z-index: 1;
    background-color: #151D35;
    padding: 1vmin 2vmin;
    border-radius: 2vmin;
    transform: translate(-1vmin,-1vmin);
    transition-duration: 0.2s;
    max-width: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

}
.album-logo {
    width: 75%;
    aspect-ratio: 0.9;
}

.stats-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.p {
    font-size: 2vmin;
    text-overflow: ellipsis;
  }

  /* Mỗi cột Stats: width:30%, display:flex */
  .stats-column {
    width: 45%;
    display: flex;
    align-items: center;
    gap: 0.5vmin;
  }
  
  /* Bên trái cột (icon + label) */
  .stats-column-left {
    width: 50%;
    display: flex;
    align-items: center;
  }
  .stats-column-left svg{
    font-size: 18px;
    margin-right: 5px;
  }
  .label {
    flex: 1;
    margin-left: 5px;
  }
  
  .stats-column-right {
    width: 50%;
  }
  .value {
    width: 100%;
    font-weight: 450;
  }